<div class="row">
	<div class="col-sm-4 col-sm-offset-1">
		<h1>Index</h1>
		<form action="/sessions/create" method="post">
		  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		  <div class="form-group">
		    <label for="email">Email</label>
		    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" id="password" name="password">
		  </div>
		  <button type="submit" class="btn btn-default">Login In</button>
		</form>
		<a href="/users/new">Not registered? Register here!</a>
	</div>
</div>