#logout{
	margin-top: 10px;
}
.navbar-header a{
	color: white;
}
body{
	background-image: url("./laptop.jpg");
	background-size: cover;
}
.panel-default, .alert{
	opacity: .8;
}
form label{
	color: white;
}
.navbar-header a{
	list-style: none;
	text-decoration: none;

}
.navbar-header h3{
	color: white;
}